<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MUNUCCLE</title>
  <link rel="stylesheet" href="css/numad.css">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<div class="foto-encima">
  <img src="/assets/Mun-foto.jpg" alt="Logo mun" style="max-height: 122px;
  width: 100%;
  margin-bottom: -4px;
}">

</div>
<section class="navigation">
  <div class="nav-container">
    <!-- <div class="brand" style="height: 70px;
    width: 70px;">
      <img src="/assets/logo-mun-0e600c6509cd8bf45c726f75f32eedfcda1b9a7a273d5c4089fab58240abe5c7.jpg" alt="Logo mun" style="
    height: 70px;
    width: 70px;
">
      <a href="#!">MUNUCCLE</a>

    </div> -->
    <div class="brand" style="text-decoration: none;">
      <a href="numad.html">MUNUCCLE</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">Munuccle 2018</a>
          <ul class="nav-dropdown">
            <li>
              <a href="home3.html">Un MUN?</a>
            </li>
            <li>
              <a href="pourquoi.html">Pourquoi munuccle?</a>
            </li>
            <li>
              <a href="but.html">But du jeu</a>
            </li>
            <li>
              <a href="#!">Agenda</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Comités</a>
          <ul class="nav-dropdown">
            <li>
              <a href="home2.html">Themes et rapports</a>
            </li>
            <li>
              <a href="#!">Délégations</a>
            </li>
            <li>
              <a href="#!">TPG</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Se préparer</a>
          <ul class="nav-dropdown">
            <li>
              <a href="rolede.html">Rôle délégué</a>
            </li>
            <li>
              <a href="rediger.html">Rediger TPG</a>
            </li>
            <li>
              <a href="projet-resolution.html">Projet de resolution</a>
            </li>
            <li>
              <a href="debats.html">Debats functionement</a>
            </li>

          </ul>
        </li>
        <li>
          <a href="#!">Équipe</a>

        </li>

      </ul>
    </nav>
  </div>
</section>
<body>
  <div class="container">
    <h1>Une séance en commission</h1><h2>Comment se passent les débats ?</h2><h3><p>Le MUNUCCLE 2018 a pour thème transversal l’éducation. Les délégué.e.s se répartissent au sein de cinq commissions et débattent dans chacune d’un thème spécifique lié à l’éducation :</p><li><strong>Le Conseil de sécurité :</strong> thème à définir en septembre en fonction de l’actualité</li>
      <li><strong>Le Comité du droit de la femme et de l’égalité des genres :</strong> la place du genre dans l’éducation</li>
      <li><strong>Le Comité scientifique :</strong> intelligence artificielle, unenouvelle fracture ?</li>
      <li><strong>Le Conseil des droits humains :</strong> garantir un apprentissage émancipateur dans un environnement sûr</li>
      <li><strong>Le Conseil économique et social (ECOSOC) :</strong>adapter la formation au marché du travail ?</li>
      <p>Le déroulement des débats au sein de chaque commission obéit à des règles formelles précises :</p>
      <p>-d’abord des <strong>discussions informelles</strong> où chaque délégué.e va de groupe en groupe pour mesurer les convergences et divergences avec les autres pays et étudier la possibilité de présenter un projet de résolution réunissant plusieurs pays ; il vaut donc mieux arriver avec des idées précises, voire avec des textes déjà partiellement rédigés ;</p>
      <p>-le <strong>débat formel</strong> ensuite, au cours duquel sont présentés, débattus, amendés, rejetés ou adoptés les projets de résolution.</p>
      <p>Le/la délégué.e doit donc savoir :</p>
      <p>1.comment <strong>écrire un projet de résolution :</strong> celui-ci est constitué d’une part par des clauses dites de préambule, ou d’introduction, qui exposent la situation actuelle sur le sujet et éventuellement rappelle les actions déjàmenées, d’autre part des clauses d’action ou opératoires qui présentent des propositions d’actions collectives ou des recommandations en vue d’apporter des solutions au problème abordé</p>
      <p>(voir <a href="https://mfgnu.files.wordpress.com/2015/12/ecrire-une-resolution-2016.pdf">https://mfgnu.files.wordpress.com/2015/12/ecrire-une-resolution-2016.pdf;</a>)</p>
      <p>2.comment se déroule le <strong>débat formel</strong>: en résumé, les présidents invitent le rapporteur d’un projet de résolution à venir le présenter ; la discussion estensuite ouverte et les présidents invitent les délégués d’abord à soumettre des points d’information pour obtenir des éclaircissements sur tel ou tel passage du projet de résolution, puis à le défendre, le critiquer
        ou l’amender ; chaque amendement est soumis au vote des délégués ;
      enfin, l’ensemble du projet de résolution est soumis au vote final des délégués</p>
      <p>(voir <a href="https://mfgnu.files.wordpress.com/2015/12/dc3a9roulement-u-dc3a9bat2.png">https://mfgnu.files.wordpress.com/2015/12/dc3a9roulement-u-dc3a9bat2.png</a> ; <a href="https://mfgnu.files.wordpress.com/2015/12/prendre-la-parole2.png">https://mfgnu.files.wordpress.com/2015/12/prendre-la-parole2.png</a>).</p></h3>



    </div>
  </body>
  <script>
  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>

</html>
