<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MUNUCCLE</title>
  <link rel="stylesheet" href="css/numad.css">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<div class="foto-encima">
  <img src="/assets/Mun-foto.jpg" alt="Logo mun" style="max-height: 122px;
  width: 100%;
  margin-bottom: -4px;
}">

</div>
<section class="navigation">
  <div class="nav-container">
    <!-- <div class="brand" style="height: 70px;
    width: 70px;">
      <img src="/assets/logo-mun-0e600c6509cd8bf45c726f75f32eedfcda1b9a7a273d5c4089fab58240abe5c7.jpg" alt="Logo mun" style="
    height: 70px;
    width: 70px;
">
      <a href="#!">MUNUCCLE</a>

    </div> -->
    <div class="brand" style="text-decoration: none;">
      <a href="numad.html">MUNUCCLE</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">Munuccle 2018</a>
          <ul class="nav-dropdown">
            <li>
              <a href="home3.html">Un MUN?</a>
            </li>
            <li>
              <a href="pourquoi.html">Pourquoi munuccle?</a>
            </li>
            <li>
              <a href="but.html">But du jeu</a>
            </li>
            <li>
              <a href="#!">Agenda</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Comités</a>
          <ul class="nav-dropdown">
            <li>
              <a href="home2.html">Themes et rapports</a>
            </li>
            <li>
              <a href="#!">Délégations</a>
            </li>
            <li>
              <a href="#!">TPG</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Se préparer</a>
          <ul class="nav-dropdown">
            <li>
              <a href="rolede.html">Rôle délégué</a>
            </li>
            <li>
              <a href="rediger.html">Rediger TPG</a>
            </li>
            <li>
              <a href="projet-resolution.html">Projet de resolution</a>
            </li>
            <li>
              <a href="debats.html">Debats functionement</a>
            </li>

          </ul>
        </li>
        <li>
          <a href="#!">Équipe</a>

        </li>

      </ul>
    </nav>
  </div>
</section>
<body>
  <div class="container">
    <h3>QUELQUES EXEMPLES DE TEXTES DE POLITIQUE GÉNÉRALE Commission : Conseil économique et social Question : Mondialisation et Développement Auteur : Allemagne Au cours des deux dernières décennies, le moteur mondial de la croissance a été à la mondialisation. Avec l’émergence d’Internet comme moyen de communication et la disparition progressive des obstacles physiques au commerce international, les barrières des échanges sont tombées peu à peu. Les tarifs protecteurs sont en voie de disparition et les accords de libre-échange sont de plus en plus répandus. L’Allemagne est consciente du fait que la mondialisation crée des situations favorables à l’expansion du commerce ainsi qu’au développement des outils de production économique. Par exemple, l’année dernière, la Roumanie a connu un investissement étranger direct (IED) en augmentation de 199%. Le montant d’IED est passé de 234 millions d’euros en 2005 à 699 millions d’euros en 2006. Toutefois, nous constatons que cette mondialisation accrue n’entraîne pas automatiquement plus d’égalité. La mondialisation et le développement peuvent contribuer à l’amélioration de la situation générale de l’homme; cependant, notre parti reconnaît que, sans réglementation adéquate les possibilités de développement social resteront limitées à une élite de quelques individus, entreprises ou nations. Si elle n’est pas réglementée et dirigée vers le bien commun, la mondialisation ne peut servir efficacement la communauté mondiale. Indispensable pour faire face à la complexité de la mondialisation, la bonne gouvernance doit agir avec solidarité et responsabilité. L’Allemagne estime que dans la participation des gens à la mondialisation, nous devons promouvoir les valeurs morales, les principes démocratiques et la culture politique, avec des institutions qui protègent à la fois les droits civils individuels et les libertés et le bien commun. En outre, face à l’afflux d’informations provenant de toute part, les gouvernements doivent agir en harmonie pour en permettre l’accessibilité à tous. L’accès à l’éducation numérique va sans doute entraîner une plus grande conscience politique des citoyens et permettre une plus grande transparence, et donc un faible niveau de corruption. Notre pays estime que la communauté économique internationale a les moyens et l’obligation de soutenir les valeurs fondamentales en matière de droits de l’homme, de normes du travail, et de préservation de l’environnement. Comme l’a déclaré le président de la république fédérale allemande notre pays porte un attachement “sincère au multilatéralisme, en tant qu’instrument efficace visant à identifier les réponses adéquates aux défis posés par la mondialisation.” L’Allemagne a soutenu la majorité des conventions et traités multilatéraux identifiés comme fondamentaux par les Nations Unies dans le cadre du Sommet du Millénaire en 2001. Nous avons toujours promu des moyens novateurs et efficaces d’instaurer une coopération au sein et entre les organisations régionales. Nous cherchons donc à contribuer à la réorientation de la mondialisation afin qu’elle profite au mieux à la communauté mondiale. ------------------------------------------------------Commission : Conseil économique et social Question : La crise mondiale de la sécurité alimentaire Auteur : République Démocratique du Congo Au cours des dernières années, une grave crise alimentaire a frappé l’Ouest de l’Afrique. Cette crise s’est aggravée depuis 2011, augmentant ainsi le nombre d’individus souffrant de pauvreté et de famine. Notre pays, la République
      Démocratique du Congo, se voit gravement touché par cette crise depuis des années, comme c’est le cas également d’autres pays de la zone. De plus, le pays se voit obligé à lutter contre les M-23, une milice armée qui défie farouchement par la violence l’autorité et le pouvoir de notre gouvernement. Cette milice a pris force dans l’Est de la République Démocratique du Congo, ce qui a provoqué la reprise des conflits. Cela a mené la situation alimentaire vers un état critique. Nous estimons aves regret, qu’environ 11 millions de congolais, soit 15% de la population totale, subit une crise nutritionnelle aigüe. 57 % de la population est très affectée par une insécurité alimentaire sévère, un problème qui préoccupe fortement notre gouvernement. Cette crise s’est aussi vue aggravée par la situation économique dans laquelle se trouve le monde à présent. La crise économique a contribué à la profonde crise humanitaire en Afrique, notamment dans la région connue comme la corne de l’Afrique et dans l’Ouest ducontinent. Nous sommes conscients que les temps qui courent sont très difficiles du point de vue économique, mais des solutions sont urgentes et indispensables. Un facteur important, qui aggrave fortement cette crise alimentaire, est l’embargo sur le commerce des armes en République Démocratique du Congo. Cet embargo prive notre gouvernement d’améliorer les conditions de l’armée pour pouvoir faire face á la milice rebelle M-23 et à la fois limite la capacité de commerce, créant ainsi un rempart pour le développement économique et social du pays. La République Démocratique du Congo a la volonté de collaborer avec les autres pays constituant l’Organisation des Nations Unies pour trouver une solution rapide et efficace à ce problème qui frappe notre pays depuis des années. Notre pays souhaite une réduction de l’embargo sur le commerce des armes, du fait qu’une diminution des restrictions aiderait le développement économique du pays, ce qui favoriserait une amélioration des conditions moyennes de vie et réduirait par conséquent notablement la crise nutritionnelle. Notre gouvernement a une position favorable à la demande d’une aide financière provenant des pays les plus développés pour combattre la famine qui touche le territoire congolais, spécialement la zone de l’Est. On considère cette aide urgente et nécessaire car la situation est critique. La République Démocratique du Congo propose une collaboration avec les autres pays de la zone tels que la Zambie et l’Angola pour améliorer la situation, ainsi que lafin de la collaboration, par le soutien logistique, économique et militaire, du gouvernement du Rwanda avec le groupe rebelle M-23 qui ne fait qu’aggraver la situation actuelle. Le gouvernement réitère aussi le désir de démarrer un procès pour changer lapolitique fiscale du territoire afin d’attraire des investisseurs étrangers, évitant ainsi l’exploitation des ressources naturelles congolaises bénéficiant exclusivement les états étrangers, et facilitant une fois de plus le développement économique et social de notre pays. -----------------------------------------------------Commission : Conseil économique et social Thème : Les paradis fiscaux Auteur : Japon L’évolution historique des paradis fiscaux a pour origine la deuxième moitié du XXèmesiècle. Son boom correspond au développement industriel et économique des années d’après-guerre ainsi qu’au processus de décolonisation de certaines puissances européennes. Motivés par diverses circonstances, certains territoires conçus des systèmes fiscaux capables d’attirer les capitaux étrangers en utilisant pour cela les structures les plus variées tant juridiques que fiscales.
      Le Japon est conscient du fait que les paradis fiscaux créent des situations négatives en ce qui concerne la croissance économique des pays d’où proviennent les capitaux qui arrivent dans les paradis fiscaux. Tax Justice Network publiait il y a quelques mois, une étude qui démontre s’il n’y avait pas de fuites des capitaux vers les paradis fiscaux, les pays débiteurs seraient des pays prêteurs. Selon Tax Justice Network, entre 21 et 32 milliards de dollars proviennent de 139 pays à faible et moyen revenu. Les paradis fiscaux où l’on ne paye pas des impôts, permettent à un groupe de personnes ou d’entreprises de pouvoir déposer leur argent en toute discrétion. Cela permet à ces entreprises ou ces groupes de personnes de déposer l’argent sans que leurs pays d’origine n’en sachent rien. Ce fait permet donc de ne pas payer d’impôts à l’Etat d’où ils proviennent. Ce qui implique que les pays d’où provient cet argent l’argent ne peuvent pas améliorer les services publics comme l’éducation, la santé ou les transports. Le Japon estime qu’avec les impôts que recevraient les pays d’origine si les capitaux n’étaient pas acheminés vers les paradis fiscaux, les Etats pourraient améliorer la situation économique de leur pays et réduire ainsi leur dette , mais aussi créer plus d’emploi, améliorer leurs universités ou créer des aides sociales. Nous devons donc essayer de freiner les paradis fiscaux, en créant des administrations contre cette situation ou négocier des accords avec les paradis fiscaux. Notre pays estime que le conseil économique et social a les moyens et donc l’obligation d’arrêter cette évasion fiscale, avec des institutions qui protègent les lois qui interdisent ces flux de capitaux vers des pays sans impôts. La secrétaire d’État de coopération international est intervenue pendant la conférence des Nations Unies sur la crise économique et financière et son impact dans le développement en insistant sur la nécessité de lutter contre ces évasions fiscales. Le Japon a soutenu la majorité des conventions et traités fondamentaux proposés par les Nations Unies en 2000 lors du Sommet du Millénaire. Nous cherchons donc à nous impliquer pleinement dans la lutte contre les paradis fiscaux afin d’améliorer l’économie mondiale. -----------------------------------------Commission : Conseil économique et social Question : La sécurité alimentaire Auteur : Royaume-Uni La faim demeure un problème grave à l’échelle mondiale. Ce constat répété est une réalité qui persiste, comme le montrent les chiffres des rapports “L’État de l’insécurité alimentaire dans le monde” publiés par la FAO, la PAM et l’IFAD ou ceux de l’Indice de la faim dans le monde. Le Royaume-Uni considère que la publication de rapports sur la faim est utile à bien des égards. Outre le rappel annuel d’une crise qui perdure, ces indicateurs permettent d’apprécier précisément la prévalence de la faim et de l’insécurité alimentaire et nutritionnelle dans chaque pays et d’en visualiser l’évolution, afin de proposer des solutions adaptées dans le temps et l’espace a la réalité des besoins. La sécurité alimentaire n’a jamais été un argument pertinent aux yeux du Royaume Uni, partisan depuis toujours du libre-échange et de l’ouverture mais notre pays a su s’investir dans un partenariat mondial et fait désormais parti de la Nouvelle alliance pour la sécurité alimentaire et nutritionnelle ayant pour objectif principal l’augmentation de la production agricole africaine afin que l’Afrique puisse assurer son indépendance alimentaire. Le Royaume Uni n’est pas indépendant sur le plan alimentaire car notre objectif principal reste l’indépendance énergétique et ce, dans les plus brefsdélais. Cependant, le Royaume-Uni est conscient qu’un des problèmes qui découle de la sous-nutrition et donc de l’insécurité alimentaire est la malnutrition et donc l’insécurité sanitaire.
    Le Royaume-Uni est fier d’avoir pris en 1999, la décision de créer la Food Standards Agency. Cette agence est chargée de la promotion de la sécurité alimentaire, de la recherche dans ce domaine, de la communication des alertes et de la surveillance des maladies liées à l’alimentation. L’article 1er de la loi définit la mission principale de l’Agence : protéger la santé de la population contre tous les risques liés à la consommation de produits alimentaires, y compris les risques liés à leur production et à leur distribution. Plus généralement, l’Agence doit défendre les intérêts des consommateurs. Cette création fut une très bonne décision pour le Royaume-Uni. Le Royaume-Uni est persuadé que des résultats très positifs devraient arriver très vite. Garantir la sécurité alimentaire, alors que nous sommes soumis à un stressénergétique et hydrique ainsi qu’a une pénurie de terre, est un défi de taille. Face à la rareté des ressources dont nous dépendons pour produire suffisamment de denrées alimentaires et nourrir le monde, il est nécessaire d’adopter une démarche beaucoup plus prudente et intégrée de l’affectation des terres, de l’énergie et de l’eau. Pour éviter d’appauvrir davantage les ressources en terres, en eau, en énergie, et pour garantir à tous un accès a une alimentation suffisante et adéquate, il faut que cette production soit durable, qu’elle donne la priorité aux populations, et qu’elle soit accompagnée d’une stratégie d’accès raisonnée. De plus, le Royaume-Uni n’oublie pas ses engagements pris en 2007 et souhaite toujours réaliser les Objectifs du Millénaire pour le Développement et particulièrement ici, les objectifs 1, 4, 7, 8. Enfin, plus que l’aide humanitaire déraisonnée, qui s’avère nécessaire dans certains cas, le Royaume-Uni préfère, à la place du don, l’investissement. Pour cela et en tant que membre du G8, le Royaume-Uni participe au GAFSP, mécanisme multilatéralisme d’investissement opérant la plupart du temps sur le continent africain. Le Royaume-Uni est conscient du défi de taille que représente la sécurité alimentaire et désire apporter à ce défi une réponse adéquate et appropriée sans céder aux facilites que sont l’égoïsme et la négligence. De plus, notre pays n’oublie pas qu’une action rapide, coordonnée sur le plan international serait préférable et beaucoup plus efficace. Le Royaume-Uni appelledonc de ses vœux un partenariat mondial pour le développement qu’il souhaite mettre en œuvre, comme l’a rappelé David Cameron, en tant que président du G8 en 2013</h3>


  </div>
</body>
<script>
  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>

</html>
