<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/numad.css">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<div class="foto-encima">
  <img src="/assets/Mun-foto.jpg" alt="Logo mun" style="max-height: 122px;
  width: 100%;
  margin-bottom: -4px;
}">

</div>
<section class="navigation">
  <div class="nav-container">
    <!-- <div class="brand" style="height: 70px;
    width: 70px;">
      <img src="/assets/logo-mun-0e600c6509cd8bf45c726f75f32eedfcda1b9a7a273d5c4089fab58240abe5c7.jpg" alt="Logo mun" style="
    height: 70px;
    width: 70px;
">
      <a href="#!">MUNUCCLE</a>

    </div> -->
    <div class="brand" style="text-decoration: none;">
      <a href="numad.html">MUNUCCLE</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">Munuccle 2018</a>
          <ul class="nav-dropdown">
            <li>
              <a href="home3.html">Un MUN?</a>
            </li>
            <li>
              <a href="pourquoi.html">Pourquoi munuccle?</a>
            </li>
            <li>
              <a href="but.html">But du jeu</a>
            </li>
            <li>
              <a href="#!">Agenda</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Comités</a>
          <ul class="nav-dropdown">
            <li>
              <a href="home2.html">Themes et rapports</a>
            </li>
            <li>
              <a href="#!">Délégations</a>
            </li>
            <li>
              <a href="#!">TPG</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Se préparer</a>
          <ul class="nav-dropdown">
            <li>
              <a href="rolede.html">Rôle délégué</a>
            </li>
            <li>
              <a href="rediger.html">Rediger TPG</a>
            </li>
            <li>
              <a href="projet-resolution.html">Projet de resolution</a>
            </li>
            <li>
              <a href="debats.html">Debats functionement</a>
            </li>

          </ul>
        </li>
        <li>
          <a href="#!">Équipe</a>

        </li>

      </ul>
    </nav>
  </div>
</section>
<body>
  <div class="container">
    <h2 style="text-align: center">Lettre de presentation</h2>


    <h3><p>Cher.e.s déléguées, délégués, participants au MUNUCCLE 2018,</p>
      <p>L’ONU, fondée pour le maintien de la paix et de la sécurité internationale, pour le développement de relations amicales entre les Nations et leurs peuples, pour la résolution de problèmes internationaux d’ordre économique, social, intellectuel ou humanitaire, pour la promotion des Droits humains et des libertés fondamentales pour tou.te.s, sans distinction de race, religion ou sexe.</p>
      <p>Dans un monde où les populations sont encore trop souvent touchées par la misère, la faim, la pauvreté, la guerre, l’objectif commun des Etats doit être la sécurité physique et psychologique des enfants assurée par une éducation formatrice et émancipatrice. L'objectif est aussi de faire de ces jeunes gens de futurs adultes responsables, capables de prendre leur destin en main et, avec l’aide et le soutien de la communauté internationale, de contribuer à construire un monde plus juste et plus équitable.</p>
      <p>Ce monde, divisé déjà entre le Nord et le Sud, doit aussi faire face à un nouveau clivage, celui que creuse le développement technologique et scientifique entre ceux qui ont accès à ces outils et les autres. L’objectif commun des pays développés devrait être de promouvoir l’intelligence artificielle susceptible de transformer notre rapport au travail, mais aussi son introduction, de façon intelligente et efficace, au sein des pays du Sud.</p>
      <p>La présidence souhaite aussi s’appuyer sur le principe d’universalité hérité des Lumières, renforcé par les luttes émancipatrices pour la réduction des inégalités sociales et la promotion des droits sociaux, pour promouvoir les droits humains sans distinction, entre autres, de sexe. Le rôle d’une éducation émancipatrice, en particulier dans les PED, est non seulement d'accroître les capacités de développement d'un pays ou d'une communauté, mais aussi de transformer les relations sociales dans un sens plus harmonieux.</p>
      <p>Le thème de cette conférence, L’avenir entre les mains de l’éducation, vise à souligner l’importance de la scolarisation comme droit de tout enfant, garçon et fille, et se fonde sur l’Article 55 b et c de la Charte des Nations Unies, qui insiste sur la nécessaire coopération internationale dans les domaines de la culture intellectuelle et de l’éducation ainsi que sur le respect universel et effectif des droits humains, dont le droit à l’éducation est désormais considéré comme partie intégrante. L'éducation est en fait un outil puissant, une arme de l’intelligence, avec laquelle les individus peuvent changer leur avenir, et celui du monde. C’est pour cela que chaque Etat-membre doit s’inspirer de ces principes fondateurs de l'ONU et s’engager dans la promotion et l’expansion de l’alphabétisation au sein de son peuple, afin qu’ils puissent ensemble construire le futur des Nations.
      Pour rendre le monde meilleur, c’est la volonté qui compte. Les Etats-membres, en confrontant leurs idées, en permettant à leurs peuples de faire entendre leur voix, en s’appuyant sur la Charte, prendront des décisions effectives, intelligentes qui visent à l’amélioration de notre monde.</p>
      <p>Le Bureau de MUNUCCLE 2018 souhaite ainsi à tous les délégués d'excellents débats et une excellente conférence !</p>
      <p>Gianmaria Nobile - Président du MUNUCCLE 2018</p></h3>
    </div>
  </body>
  <script>
  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>

</html>

