<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MUNUCCLE</title>
  <link rel="stylesheet" href="css/numad.css">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<div class="foto-encima">
  <img src="/assets/Mun-foto.jpg" alt="Logo mun" style="max-height: 122px;
  width: 100%;
  margin-bottom: -4px;
}">

</div>
<section class="navigation">
  <div class="nav-container">
    <!-- <div class="brand" style="height: 70px;
    width: 70px;">
      <img src="/assets/logo-mun-0e600c6509cd8bf45c726f75f32eedfcda1b9a7a273d5c4089fab58240abe5c7.jpg" alt="Logo mun" style="
    height: 70px;
    width: 70px;
">
      <a href="#!">MUNUCCLE</a>

    </div> -->
    <div class="brand" style="text-decoration: none;">
      <a href="numad.html">MUNUCCLE</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">Munuccle 2018</a>
          <ul class="nav-dropdown">
            <li>
              <a href="home3.html">Un MUN?</a>
            </li>
            <li>
              <a href="pourquoi.html">Pourquoi munuccle?</a>
            </li>
            <li>
              <a href="but.html">But du jeu</a>
            </li>
            <li>
              <a href="#!">Agenda</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Comités</a>
          <ul class="nav-dropdown">
            <li>
              <a href="home2.html">Themes et rapports</a>
            </li>
            <li>
              <a href="#!">Délégations</a>
            </li>
            <li>
              <a href="#!">TPG</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Se préparer</a>
          <ul class="nav-dropdown">
            <li>
              <a href="rolede.html">Rôle délégué</a>
            </li>
            <li>
              <a href="rediger.html">Rediger TPG</a>
            </li>
            <li>
              <a href="projet-resolution.html">Projet de resolution</a>
            </li>
            <li>
              <a href="debats.html">Debats functionement</a>
            </li>

          </ul>
        </li>
        <li>
          <a href="#!">Équipe</a>

        </li>

      </ul>
    </nav>
  </div>
</section>
<body>
  <div class="container">
    <div class="no-point">
      <h1>Rédiger et présenter une résolution</h1>
      <h2> * Qu’est-ce qu’une résolution ?</h2>
      <h3><p>Une résolution est un texte adopté par l’Assemblée générale des Nations Unies. A l’exception des résolutions du Conseil de Sécurité dont l’application s’impose obligatoirement à tous les pays membres, la plupart des résolutions de l’ONU sont des recommandations formelles élaborées par les commissions et adoptées par l’Assemblée générale. Elles font l’objet d’un accord sur les résultats à atteindre, mais nécessitent une transposition dans le corpus juridique des états membres et les modalités de leur mise en œuvre dépendent des états.</p>
        <p>Les résolutions recommandent généralement que des actions soient prises par un organisme des Nations Unies, une agence affiliée, unpays ou un groupe de pays. Elles peuvent avoir plusieurs rayons d’action. Il est important de bien assimiler certains principes :</p>

        <p>➽Une fois votée, une résolution devient la ligne directrice officielle de l’organe qui l’a adoptée.</p>
        <p> ➽Bien que la plupart des résolutions ne soient que des déclarations politiques, il est possible qu’une résolution incorpore un traité, une déclaration ou une convention à part entière.</p>
        <p> ➽Les résolutions peuvent condamner des actions entreprises par des états, peuvent demander une action collective ou, comme dans le cas du Conseil de sécurité, peuvent requérir des sanctions économiques ou militaires.</p>
        <p> Les co-rapporteurs sont les délégués qui ont rédigé le projet. Ils sont non seulement d’accord pour que le projet de résolution soit mis au vote, mais s’engagent également à le soutenir lors du vote. Les co-signataires, en revanche, souhaitent simplement que la proposition soit débattue et ne s’engagent donc pas nécessairement à la soutenir lors du vote.</p>
        <p> Lors de la rédaction d’une proposition de résolution, il faut tenir compte du fait que la formulation de la résolution peut influencer l’assemblée. La résolution doit donc être claire, précise et brève. Les résolutions vagues qui n’expriment rien de précis ni ne proposent aucune action concrète seront sévèrement critiquées lors du débat. Le contenu de la résolution doit donc faire l’objet d’une recherche approfondie et être représentatif des nations qui la déposent.</p></h3>
        <h2> * Préparer une résolution</h2> <h3>
          <li>1.Montrer la réalité du problèmeet la nécessité d’agir</li>
          <p>Après avoir défini le problème et effectué les recherches nécessaires, il faut établir la liste des actions déjà menées par différents pays et par les Nations Unies, des lois existantes et des résolutions déjà votées et avoir une idée précise de la position des différents pays sur la question.</p>
          <li> 2.Proposer une solution</li>
          <p> Celle-ci doit être acceptable pour la majorité des pays membres de l’ONU et doit être examinée sous tous les angles : économique, politique, militaire, social et environnemental. Il est important de développer un plan d’action conforme à la politique internationale du pays représenté et son intérêt.</p>
          <li>3.Justifier un plan d’action</li>
          <p>Le délégué doit être prêt à défendre son plan d’action point par point au moyen de chiffres etd’arguments. Il lui faut donc anticiper les critiques et préparer ses arguments pour les contrer.</p></h3>
          <h2> * Rédiger une résolution</h2>
          <h3><p> Une résolution est une très longue phrase, ponctuée de virgules et de points-virgules qui séparent les idées et un point à la fin du document. Elle comporte trois parties :</p>
            <li> 1.L’en-tête</li>
            <p> L’en-tête contient différentes informations dont le titre de la résolution, la commission à laquelle elle est présentée, les nations qui la déposent ainsi que l’organe qui s’exprime et qui est donc lesujet de la phrase (L’Assemblée générale des Nations Unies, etc.).</p>
            <li> 2.Les clauses d’introduction</li>
            <p> Préambule de la résolution, les clauses d’introduction présentent l’historique et les causes du problème soulevé, de façon à démontrer qu’il relève bien de la commission concernée et que la résolution est véritablement justifiée. C’est ici qu’il doit être fait référence aux résolutions antérieures des Nations Unies, citation des lois, déclarations et conventions internationales. Les clauses d’introduction décrivent également les situations factuelles et indiquent les actions menées par des organismes nationaux ou internationaux. Ces clauses peuvent également contenir des appels au bon sens ou à l’instinct humanitaire des membres en faisant référence à la Charte des Nations Unies, la Déclaration Universelle des Droits de l’Homme, etc. Chaque clause d’introduction commence avec un participe présent en italique, pris dans la liste des Formules de début de phrase, puis est suivie d’une virgule.</p>
            <p> Les clauses d’introduction, contrairement aux clauses d’action, ne sont pas débattues directement par les délégués et ne peuvent pas être amendées sauf pour rectifier un chiffre ou une date erronés. Elles peuvent parfois sembler accessoires ou inutiles mais c’est aux délégués qu’il appartient de les utiliser à bon escient, de façon à bien situer le problème dont ils veulent discuter et à exprimer leur opinion sur le sujet, d’une façon plus générale.</p>
            <li> 3.Les clauses d’action</li>
            <p> Les clauses d’action constituent le cœur de la résolution. Elles présentent les solutions proposées par les rapporteurs de la résolution aux problèmes soulevés dans les clauses d’introduction. Les clauses d’action sont numérotées (1., 2., etc.) et commencent part un verbe actif au présent dont le sujetest l’organe qui vote la résolution (L’Assemblée générale, le Conseil Economique et Social, etc.).Les clauses d’action sont suivies d’un point-virgule, sauf la dernière qui se termine par un point. Le premier mot de chaque clause opérative est un verbe au présent de l’indicatif en italiques (voir liste en Annexe). Chaque clause d’action peut être divisée en plusieurs sous-clauses. Les sous-clauses sont alphabétiques (a, b, c, d, etc.).</p>
            <p> Les clauses d’action énumèrent les recommandations d’actions, ou expriment une opinion favorable ou défavorable à tel ou tel aspect de la situation présente.</p>
            <p> Ces clauses peuvent demander que des états membres, le Secrétariat, une agence ou un organe des Nations Unies mettent en œuvre une action. Ces actions peuvent être d’ordre général comme dénoncer une situation ou lancer un appel à la négociation, ou peuvent être précises et demander un
            cessez-le-feu ou un engagement sur un projet précis. Cependant, il est important de souligner que, même une fois adoptées, ces clauses ou actions ne sont que des recommandations et peuvent ou non être appliquées par les différents états concernés. Seules les résolutions du Conseil de Sécurité lient les états membres ; l’Assemblée générale et le Conseil Économique et Social ne peuvent faire que des recommandations.</p>
            <p> Il est illusoire de vouloir présenter dans les résolutions des solutions globales à tous les problèmes, mais inutile de se contenter d’appels à l’action sans réalisation concrète. Les recherches préalables montreront certainementdes solutions proposées par le passé et qui ont échoué, mais avec un peu d’imagination et de recherche, il est possible de développer de nouvelles solutions aux problèmes qui semblent parfois sans issue. Il ne faut pas oublier, toutefois, que la clé des relations diplomatiques passe par le compromis ni perdre de vue la position du pays représenté sur le sujet traité.</p>
            <p> Avant d’apporter son soutien à une résolution, chaque délégué doit vérifier qu’il agit conformément aux volontés politiques de son pays et qu’il travaille avec des états dont il partage la politique internationale, faute de quoi il ne remplirait pas le rôle qu’il s’est fixé en venant représenter son état auprès des Nations Unies.</p>
            <li> 4.Le format et la mise en page de la résolution</li>
            <p> Il convient d’être particulièrement attentif au format et à la mise en page : </p>
            <p>Soulignerles formules d’introduction des clauses d’introduction et des clauses d’action, veiller à la ponctuation, à la numérotation des clauses d’action, etc.</p>
            <p> Règles :</p>
            <li> 1.En haut à droite indiquer le numéro de la page et le nombre de pages. Exemple : « Page 1 de 2 »</li>
            <li> 2.En haut à gauche indiquer :</li>
            <p> • La session. Exemple : 12esession MNU </p>
            <p>• La commission dans laquelle la résolution est élaborée. Exemple: Commission des Affaires Politiques Internationales</p>
            <p> • Les rapporteurs de la résolution. Exemple : Mexique, Argentine et Afrique du Sud</p>
            <li> 3.En dessous, écrire le titre en majuscule commençant le plus souvent par LA QUESTION DE ... </li>
            <li> 4.En dessous, indiquer l’organe qui adopte la résolution (en italiques et décalé) : L’Assemblée générale,</li>
            <li> 5.Rédiger un certain nombre de clauses d’introduction présentant le problème ou rappelant des efforts passés et commençant par les formules listées en annexe et en italiques. Cesclauses sont décalées et séparées par des virgules.</li>
            <li> 6.Rédiger un certain nombre de clauses d’action proposant des solutions et commençant par les formules listées en annexe et en italiques. Ces clauses doivent préciser qui fait quoi, dans quel délai et peut indiquer qui financera le projet. Ces clauses sont décalées, numérotées et séparées par des points-virgules. La dernière se termine par un point. Les sous-clauses sont alphabétiques et se terminent également par un point-virgule.</li>
            <li> 7.Terminer la dernière clause par un point.</li></h3>
            <h2>* Le parcours de la résolution</h2> <h3> <li> 1.Avant la conférence</li><p> Chaque délégué prépare une proposition de résolution sur une des questions à l’ordre du jour de la commission à laquelle il appartient.</p>
              <p>  ➽La proposition de résolution doit être présentée selon le format imposé.</p>
              <p>  ➽Les propositions de résolutions doivent être validées par le Comité de Validation des Résolutions (CVR), qui se réunit avant la conférence, avant de pouvoir être présentées lors de la conférence.</p>
              <li> 2.Lors des travaux préparatoires de chaque commission</li>
              <p>  ➽Sur chaque question à l’ordre du jour, les délégués se présentent de manière informelle leurs propositions de résolutions. Ceux dont les résolutions sont proches se regroupent et rédigent une proposition commune.</p>
              <p>  ➽Le délégué qui présente une résolution à la commission est appelé le rapporteur. Les autres délégués qui ont contribué à la rédaction de la résolution sont appelés co-rapporteurs.</p>
              <p>  ➽Les co-rapporteurs s’assurent que leur proposition de résolution a le soutien d’un nombre de délégués fixé préalablement avant de pouvoir être présentée à la commission. Par exemple, s’il y a trois co-rapporteurs, ils devront trouver deux autres délégués qui soutiennent la proposition (co-signataires). Ils font signer le formulaire de parrainage nécessaire</p>
              <p>  ➽La proposition de résolution et le formulaire de parrainage sont remis au président de la commission qui fixe l’ordre du jour de la commission. 3.Lors des débats de la commission</p>
              <p>  ➽Le président invite le rapporteur de la proposition à</p>
              <p> • faire lecture de la résolution</p>
              <p> • la présenter sous forme de discours</p>
              <p> • répondre aux questions des membres de la commission</p>
              <p> ➽Le président invite ensuite d’autres membres de la commission à prendre la parole pour s’exprimer pour ou contre la résolutionet à présenter éventuellement des amendements qui peuvent</p>
              <p> • Modifier une ou plusieurs clauses d’action</p>
              <p> • Supprimer une ou plusieurs clauses d’action</p>
              <p> • Ajouter une ou plusieurs clauses d’action</p>
              <p>  ➽Le président appelle au vote sur chaque amendement avant de procéder au vote sur la proposition de résolution amendée dans son intégralité. Dans le cas où plusieurs résolutions sont soumises à la commission sur le même thème, le président peut choisir de débattre de chacune des résolutions avant de procéder au vote.</p> <p>➽Les co-rapporteurs doivent impérativement voter pour leur proposition de résolution. Les co-signataires sont libres de leur vote.</p>
              <p> ➽Le président transmet les propositions de résolution adoptée en commission à l’Assemblée générale 4.Lors de l’Assemblée générale</p>
              <p> ➽Le président invite le rapporteur de la proposition de résolution à</p>
              <p> • faire lecture de la résolution</p>
              <p> • la présenter sous forme de discours</p>
              <p> • répondre aux questions des membres de l’Assemblée </p>
              <p>➽Le président invite ensuite d’autres membres de l’Assemblée à prendre la parole pour s’exprimer pour ou contre la résolution. Des amendements ne peuvent être présentés en Assemblée générale que s’ils sont présentés par un nombre de délégué fixé par le règlement.</p>
              <p> ➽Le président soumet la proposition au vote.</p></h3>
              <h2>* Préparer son discours</h2>
              <h3><p>Après avoir lu leur résolution, les rapporteurs sont invités à la présenter dans un discours. Le format recommandé est le suivant :</p>
               <li> a.Capter l’attention</li>
               <p> C’est l’introduction du discours dans laquelle plusieurs techniques peuvent être utilisées : anecdotes, citations, proverbes, chiffres-clés, etc. Si l’attention du public n’est pas captée dès les premiers mots, le reste du discours ne sera d’aucune utilité.</p>
               <li> b.Souligner le besoin</li>
               <p> Il s’agit de convaincrel’auditoire de la nécessité d’agir sur la question donnée et du bien-fondé de la démarche proposée. Il est souhaitable de diviser le besoin en trois ou quatre points.</p>
               <li> c.Apporter les preuves</li>
               <p> Les faits présentés doivent permettre de convaincre l’auditoire du besoin d’agir. Il convient donc de justifier chacun par des statistiques, documents ou déclarations officielles pour en souligner l’importance.</p>
               <li> d.Présenter les solutions</li>
               <p> Elles doivent être présentées point par point. Si l’auditoire ne les comprend pas bien, il est peu probable qu’il soutienne le plan. Il est conseillé d’anticiper les critiques et d’y répondre par avance.</p>
               <li> e.Expliquer la faisabilité / le plan d’action</li>
               <p>Il s’agit de prouver que le plan d’action peut et va être efficace : reprendre chaque point présenté dans les besoins et montrer comment le plan proposé permettra de répondre à ce besoin.<p>
                <p> Rappels:</p>
                <p>➽Courtoisie : Tous les délégués doivent faire preuve de courtoisie et de respect à tout moment.</p>
                <p> ➽Registre de langue : Le registre de langue des débats est soutenu. Toute familiarité sera sanctionnée.</p></h3>
              </div>
            </div>
          </body>
          <script>
  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>

</html>


